* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-bg-color: hsla(0, 0%, 10%, 1);
    --secondary-bg-color: hsla(0, 0%, 8%, 1);

    --text-color: hsla(0, 0%, 100%, 1);

}

body {
    background-color: var(--primary-bg-color);

    color: var(--text-color);
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

#app {
    width: 100%;
    margin: auto;
}

header {
    height: 13rem;
    width: 100%;
    padding: 1.8rem 2rem;
    display: flex;
    flex-direction: column;

    background: var(--secondary-bg-color);
}

header .app-menu {
    display: flex;
    justify-content: space-between;
}

header #menu-icon,
header #menu-icon::before,
header #menu-icon::after {
    position: absolute;
    content: "";
    width: 2.2rem;
    height: 3px;
    background-color: hsla(341, 71%, 41%, 1);
    border-radius: 999px;
}

header #menu-icon {
    top: 18px;
}

header #menu-icon::before {
    margin-top: 6px;
}
  
header #menu-icon::after {
    margin-top: 12px;
    width: 1rem;
}

.habits {
    gap: 1rem;
}

ul li {
    height: 5.4rem;
    margin: 1rem .6rem 0;
    border-radius: 1.4rem;
    background: var(--secondary-bg-color);
}

.menu-open {
    position: absolute;
    height: 100vh;
    width: 10px;
    background-color: var(--primary-bg-color);
}

span#weekday {
    display: block;
    margin-left: 3.7rem;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;
}

.icons {
    width: 10.6rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
}

.calendar-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
}

.calendar-days .day {
    width: 4rem;
    height: 4.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: var(--primary-bg-color);
    border-radius: 12px;
}

.calendar-days .day.select {
    background: #D52059;
}

.calendar-days .day span:nth-child(even) {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
}

.calendar-days .day span:nth-child(odd) {
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    position: fixed;

    bottom: 30px;
    right: 20px;

    background: #D52059;
    border-radius: 12px;
    border: none;
}

button:hover {
    background: #d82e64;
}
